* {
	font-family: Arial;
}

body {
	background: url('background.jpg');
}

.postit {
	min-width: 200px;
	height: auto;
	background-color: lightgray;
	box-sizing: border-box;
	border-radius: 5px;
	margin: 30px;
	margin-left: 0;
	margin-right: 20px;
	float: left;
	box-shadow: 1px 1px 100px rgb(10,10,10,.5);
	overflow: 
}

.content {
	min-width: 170px;
	min-height: 150px;
	background: transparent;
	border: none;
	width: 170px;
	height: 150px;
	outline: none;
	padding: 20px;
	margin-bottom: -4px;
}

.title {
	width: 100%;
	height: 40px;
	background: darkgray;
	text-align: center;
	line-height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
}

.close {
	float: right;
	width: 18px;
	height: 18px;
	font-size: 10pt;
	background-color: gray;
	color: white;
	line-height: 19px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	transition: .3s;
	margin-top: 10px;
	margin-right: 5px;
}

.close:hover {
	transform: rotateZ(180deg);
	background: white;
	color: gray;
}

.verde {
	background: lightgreen;
}

.amarelo {
	background: lightyellow;
}